body#gsr.hp.vasq{
 background-image: url("https://cdn.vox-cdn.com/thumbor/HY2vVKqhr13bk4AXrr6YrD7HNJ0=/0x0:800x600/1820x1213/filters:focal(266x304:394x432):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/55227337/Bliss.1497349801.png");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}